
@{
    ViewData["Title"] = "View";
}
<h1 class="align-content-center">Schedule</h1>


<div class="container text-center">

    <br />
    <ul class="nav nav-tabs nav-justified" role="tablist">
        <li class="nav-item">
            <a id="wrks" class="nav-link active" data-toggle="tab" href="#workshops">Workshops, April 05</a>
        </li>
        <li class="nav-item">
            <a id="d1" class="nav-link" data-toggle="tab" href="#day1">Day1, April 06</a>
        </li>
        <li class="nav-item">
            <a id="d2" class="nav-link" data-toggle="tab" href="#day2">Day2, April 07</a>
        </li>
    </ul>


    <div class="tab-content container-fluid" style="max-width:1000px">
        <div id="workshops" class="container tab-pane active">
            <br />

            <p>
                <div id="agenda1" class="card-header">

                    <div class="container">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>08:00 - 09:00</td>
                                    <td></td>
                                    <td>Check-In & Coffee</td>
                                </tr>
                                <tr>
                                    <td>09:30 - 10:00</td>
                                    <td></td>
                                    <td>Welcome, Codecampers!</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
                <i class="far fa-hand-point-up"><a href="#wrks">Home</a></i>
            </p>
        </div>
        <div id="day1" class="container tab-pane fade">
            <br />

            <p>
                <div id="agenda1" class="card-header">

                    <div class="container">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>08:00 - 09:00</td>
                                    <td></td>
                                    <td>Check-In & Coffee</td>
                                </tr>
                                <tr>
                                    <td>09:00 - 09:30</td>
                                    <td></td>
                                    <td>Welcome, Codecampers!</td>
                                </tr>
                                <tr>
                                    <td>09:30 - 10:15</td>
                                    <td></td>
                                    <td>
                                        <span>Clean Code/</span>
                                        <span class="alert-primary">Mihaela Ghidersa</span>

                                    </td>
                                </tr>
                                <tr>
                                    <td>10:30 - 11:30</td>
                                    <td></td>
                                    <td>
                                        <span>Deep dive in MVC/</span>
                                        <span class="alert-primary">Gigi Popa</span>

                                    </td>
                                </tr>
                                <tr>
                                    <td>11:45 - 12:30</td>
                                    <td></td>
                                    <td>
                                        <span>Styles of Testing/</span>
                                        <span class="alert-primary">Marry Poppins</span>

                                    </td>
                                </tr>
                                <tr>
                                    <td>12:30 - 13:45</td>
                                    <td></td>
                                    <td>
                                        <span>Lunch break</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>12:45 - 13:30</td>
                                    <td></td>
                                    <td>
                                        <span>Working in a big team/</span>
                                        <span class="alert-primary">Sergiu Validator</span>

                                    </td>
                                </tr>
                                <tr>
                                    <td>13:45 - 14:45</td>
                                    <td></td>
                                    <td>
                                        <span>Unit of work/</span>
                                        <span class="alert-primary">Sergiu Validator</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>15:00 - 16:00</td>
                                    <td></td>
                                    <td>
                                        <span>Singleton technique/</span>
                                        <span class="alert-primary">Irina Scurtu</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>16:45 - 17:45</td>
                                    <td></td>
                                    <td>
                                        <span>Unit of work/</span>
                                        <span class="alert-primary">Sergiu Validator</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>17:45 - 18:00</td>
                                    <td></td>
                                    <td>
                                        <span>Closing</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <i class="far fa-hand-point-up"><a href="#d1">Home</a></i>
            </p>
        </div>
        <div id="day2" class="container tab-pane fade">
            <br />
            <p>
                <div id="agenda1" class="card-header">

                    <div class="container">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>08:00 - 09:00</td>
                                    <td></td>
                                    <td>Check-In & Coffee</td>
                                </tr>
                                <tr>
                                    <td>09:30 - 10:00</td>
                                    <td></td>
                                    <td>Welcome, Codecampers!</td>
                                </tr>


                            </tbody>
                        </table>
                    </div>
                </div>
                <i class="far fa-hand-point-up"><a href="#d2">Home</a></i>
            </p>
        </div>
    </div>
</div>