
@{
    ViewData["Title"] = "CodeOfConduct";
}

<div class="codeOfConduct" style="vc_col-sm-12 wpb_column column_container">
    <div class="conductTitle wpb_wrapper">
        <h3 style="text-align: center;">Code of Conduct</h3>
    </div>
    <p style="text-align: center;">
        <span style="color: black; font-weight:500">All attendees, speakers, sponsors, and volunteers at our conference are required to agree with the following code of conduct.</span>
    </p>
    <p style="text-align: left;">
        As organizers of dotnetdays, the .NET Iasi community will enforce this code throughout the event.
        We expect cooperation from all participants to help ensure a safe environment for everybody.
    </p>
    <p style="text-align: left;">
        <strong>The .NET Iasi community commits</strong>
        to providing a safe and friendly facility for all dotnetdays events, respecting each and every individual in the community and responding
        promptly to all reports of misconduct with our full attention.
    </p>
    <p style="text-align: left">
        <strong>What we expect from each of you</strong>
        is to treat everyone with respect, refrain from using offensive language and imagery, and to report any derogatory or offensive behavior
        to a member of the .NET Iasi community or dotnetdays staff directly, or through email
    </p>
    <p style="text-align: left">
        <strong>Dotnetdays understands the importance of community</strong>
        and wants to ensure that we provide a fantastic environment for everyone to learn and share skills regardless of gender,
        gender identity and expression, age, sexual orientation, disability, physical appearance, body size, race, ethnicity,
        religion (or lack thereof), or technology choices.
    </p>
    <p style="text-align: left">
        We do not tolerate harassment of conference participants in any form.
        <strong>Sexual language and imagery is not appropriate for any conference venue</strong>
        , including talks, meetups, parties, Twitter and other online media. Conference participants violating these rules may be sanctioned or
        expelled from the conference at the discretion of the conference organizers.
    </p>
    <p style="text-align: left">
        We value your attendance and your participation in the .NET Iasi community and expect everyone to accord to the community Code of 
        Conduct at all dotnetdays venues and events.
    </p>
    <br />
    <br />

</div>

