@using TechEvent.Domain.UsefulClases;
@model TechEvent.Web.Areas.Admin.ViewModels.PaperEditViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>PaperViewModel</h4>
<hr />
<div class="row">
    <div class="col-lg-6 col-md-8 col-10">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Id" class="form-control" hidden />
                <input asp-for="FirstName" class="form-control" hidden />
                <input asp-for="LastName" class="form-control" hidden />
                <input asp-for="PaperStatusId" class="form-control" hidden />

            </div>

            <div class="form-group">
                <label for="status" class="control-label">Status</label>
                <input type="text" id="status" class="form-control" value="@((PaperStatusEnum)Model.PaperStatusId)" readonly />
            </div>
            <div class="form-group">
                <label class="control-label">Speaker</label>
                <input type="text" id="speakername" class="form-control" value="@(Model.FirstName + " " + Model.LastName)" readonly />
            </div>
            <div class="form-group">
                <label asp-for="CompanyName" class="control-label"></label>
                <input asp-for="CompanyName" class="form-control" />
                <span asp-validation-for="CompanyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyWebsite" class="control-label"></label>
                <input asp-for="CompanyWebsite" class="form-control" />
                <span asp-validation-for="CompanyWebsite" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea rows="5" asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Position" class="control-label"></label>
                <input asp-for="Position" class="form-control" />
                <span asp-validation-for="Position" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Country" class="control-label"></label>
                <input asp-for="Country" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="Facebook" class="control-label"></label>
                <input asp-for="Facebook" class="form-control" />
                <span asp-validation-for="Facebook" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="LinkedIn" class="control-label"></label>
                <input asp-for="LinkedIn" class="form-control" />
                <span asp-validation-for="LinkedIn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Skype" class="control-label"></label>
                <input asp-for="Skype" class="form-control" />
                <span asp-validation-for="Skype" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GitHub" class="control-label"></label>
                <input asp-for="GitHub" class="form-control" />
                <span asp-validation-for="GitHub" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Twitter" class="control-label"></label>
                <input asp-for="Twitter" class="form-control" />
                <span asp-validation-for="Twitter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Website" class="control-label"></label>
                <input asp-for="Website" class="form-control" />
                <span asp-validation-for="Website" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EditionId" class="control-label"></label>
                <future-edition asp-for="EditionId" class="form-control"></future-edition>
                <span asp-validation-for="EditionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TalkTypeId" class="control-label"></label>
                <select asp-for="TalkTypeId" class="form-control"></select>
                <span asp-validation-for="TalkTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PresentationTitle" class="control-label"></label>
                <input asp-for="PresentationTitle" class="form-control" />
                <span asp-validation-for="PresentationTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PresentationDescription" class="control-label"></label>
                <textarea rows="5" asp-for="PresentationDescription" class="form-control"></textarea>
                <span asp-validation-for="PresentationDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tags" class="control-label"></label>
                <input asp-for="Tags" class="form-control" />
                <span asp-validation-for="Tags" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OtherMentions" class="control-label"></label>
                <textarea rows="5" asp-for="OtherMentions" class="form-control"></textarea>
                <span asp-validation-for="OtherMentions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="~/js/CreateEditPapers.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

