/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

#manage {
    margin-left: auto;
}

html, body {
    min-height: 100vw;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

a > i {
    font-size: 24px;
    padding: 5px 12px;
}

.nav-link a:active {
    font-size: x-large;
    text-decoration: underline;
}

.inline {
    display: inline-block;
}

.arrowbutton:hover {
    color: black;
    background: blue;
}

.meniu {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 5;
}

    .meniu i {
        margin: 0;
        height: inherit;
        color: inherit;
        font-size: inherit;
    }

        .meniu a::after {
            content: '';
            display: inline;
            width: 0;
            font-size: 16px;
            height: 2px;
            background: #00ff21;
            transition: width 1s;
        }
   
        .meniu a:hover::after {
            display: block;
            width: 100%;
        }

footer {
    position: absolute;
    margin-bottom : 0;
}