@model TechEvent.Domain.Entities.Sponsor
@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Sponsor</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (TempData["Message"] != null)
            {
                <p class="alert alert-warning">@TempData["Message"]</p>
            }
            <div class="form-group">
                <label asp-for="EditionId" class="control-label"></label>
                <future-edition asp-for="EditionId" year="@ViewBag.Year" class="form-control"></future-edition>
                <span asp-validation-for="EditionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PhotoAvatar" class="control-label"></label>
                <input asp-for="PhotoAvatar" type="file" class="form-control" />
                <span asp-validation-for="PhotoAvatar" class="text-danger"></span>
            </div>

            <div class="form-group">

                <label asp-for="Website" class="control-label"></label>
                <input asp-for="Website" class="form-control" />
                <span asp-validation-for="Website" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Facebook" class="control-label"></label>
                <input asp-for="Facebook" class="form-control" />
                <span asp-validation-for="Facebook" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea rows="5" asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PageSlug" class="control-label"></label>
                <input asp-for="PageSlug" class="form-control" />
                <span asp-validation-for="PageSlug" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SponsorTypeId" class="control-label">Select one type</label>
                <select asp-for="SponsorTypeId" year="@ViewBag.Year" class="form-control"></select>
                <span asp-validation-for="SponsorTypeId" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Active" /> @Html.DisplayNameFor(model => model.Active)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-route-year=@ViewBag.Year>Back to List</a>
</div>

@section Scripts {
    <script src="~/js/SponsorCreateEdit.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
